<div class="posts">
<div class="center-block" style="width: 500px; height: 1200px; text-align: center; background-color: #ffe661; border: 1px solid gray; padding: 5px;">
<%= form_for(@post) do |f| %>
    <h4>タイトル</h4>
     <%= f.text_field :title %>
    <h4>本文</h4>
     <%= f.text_area :body %>
    <h4>場所</h4>
   	 <%= f.select :place, [["東京", "東京"], ["埼玉", "埼玉"], ["神奈川", "神奈川"], ["千葉", "千葉"]] %>
    <h4>画像</h4>
     <%= f.attachment_field :post_image %>
 <div class="actions">
    <%= f.submit '編集する' %>
 </div>
 <div class="actions2">
    <%= link_to "詳細", post_path(@post.id) %>｜
    <%= link_to "戻る","http://localhost:3000/posts" %>
 </div>
 <% end %>
</div>
</div>